<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link/>
    <title>Thr33-D</title>
  </head>
  <body>
    <main>
      <section class="landing">
        <nav class="my-2 my-md-0 mr-md-3">
          <h1 id="logo" class="my-0 mr-md-auto">Thr33d</h1>
          <ul class="nav-links">
            <li><a routerLinkActive="active" routerLink="/create-model">Add Model</a></li>
            <li><a routerLinkActive="active" routerLink="/model-list">View Models</a></li>
          </ul>
        </nav>
        <h2 class="big-text">Stay Multi-Dimensional!</h2>
      </section>
    </main>
    <div class="intro">
      <div class="intro-text">
        <h1 class="hide">
          <span class="text">Stunning Inovation</span>
        </h1>
        <h1 class="hide">
          <span class="text">For Ecco</span>
        </h1>
        <h1 class="hide">
          <span class="text">People.</span>
        </h1>
      </div>
    </div>
    <div class="slider"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  </body>
</html>