<div class="row justify-content-center">
  <div class="col-md-4 register-model">
  <!-- form card register -->
    <div class="card-body">
      <form [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm.value)">
        <div class="form-group">
          <label for="inputURL">URL</label>
          <input class="form-control" type="text" formControlName="url">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && modelForm.value.invalid">
            URL of the model is required.
          </div>
        </div>

        <div class="form-group">
          <label for="inputText">Text</label>
          <input class="form-control" type="text" formControlName="text">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && modelForm.value.invalid">
            Name of the model is required.
          </div>
        </div>

        <!-- Description -->
        <div class="form-group">
          <label for="inputDescription">Description</label>
          <select class="custom-select form-control" (change)="updateModel($event.value)"
            formControlName="description">
            <option value="">Choose Model Description...</option>
            <option *ngFor="let modelType of ModelProfile" value="{{modelType}}">{{modelType}}
            </option>
          </select>
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && modelForm.value.invalid">
            Choose the model description.
          </div>
        </div>

        <!-- Color -->
        <div class="form-group">
          <label for="inputColor">Color</label>
          <input class="form-control" type="text" formControlName="color">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && modelForm.value.invalid">
            Color of the model is required.
          </div>
        </div>

        <!-- Scale -->
        <div class="form-group">
          <label for="inputScale">Scale</label>
          <input class="form-control" type="text" formControlName="scale">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && modelForm.value.invalid">
            Scale of the model is required.
          </div>
        </div>
  


        <!--Submit button-->

        <div class="form-group">
          <button class="btn btn-success btn-lg btn-block" type="submit">Submit Model</button>
        </div>

        </form>
        </div>
  </div><!-- form card register -->
</div>